.App div body html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#header {
  height: 100%; 
  position: sticky;
  left: 0;
  padding: 0;
  position: fixed;
  justify-content: space-between;
  text-align: right;
  top: 0;
  width: 375px;
  flex-direction: column;
}

#page {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 35%);
}

.inner {
 height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
