.App div body html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  align-self: center;
  padding-right: 0%;
}*/

img {
  height: 20vmin;
  width: 20vmin;
  border-radius: 50%;
}

#img-div {
  margin-right: 0%;
  padding: 0 0 5% 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-color: #efeeee;
}

#header {
  height: 100%; 
  position: sticky;
  left: 0;
  padding: 0;
  position: fixed;
  justify-content: space-between;
  text-align: right;
  top: 0;
  width: 375px;
  flex-direction: column;
  background-color: #325d79;
}

#page {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 35%);
}

#nav {
  padding: 8em 3em;
}

.list-group-item {
  background-color: transparent;
  border-color: transparent;
}

.p-page, h2, .a-page {
  color: #325d79;
}

a, h3, p {
  text-decoration: none;
  color: #f9a26c;
}

a:hover {
  text-decoration: none;
  color: #9bd7d1;
}

footer {
  padding: 2em;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
